*{
  margin:0;
  font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar{
  display: none;
}

.padding-block{
  width: 20%;
}

input:focus, button:focus {
  outline: none;
  box-shadow: none;
}

img{
  max-width:100%;
}