.login{
    background:#000;
    display:grid;
    place-content: center;
    height:100vh;
    text-align: center;
}

.login__container{
    background: #000;
    display: flex;
    flex-direction: column;

}

.login img{
    max-width:300px;
    margin-bottom:50px;
}

.login a{
    padding:20px;
    border-radius:99px;
    background-color:#1db95a;
    font-weight:800;
    color:#fff;
    text-decoration: none;
}