.body {
  flex: 0.8 1;
  height: 100vh;
  background-color: rgb(91, 87, 115);
  background: linear-gradient(#360033, #0b8793);
  overflow-y: scroll;
  padding: 20px 20px 100px 20px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #000;
}
/* Handle */

::-webkit-scrollbar-thumb {
  background:#3f51b5;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.body__info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.body__infoText {
  flex: 1;
}

.body__info img {
  height: 20vw;
  margin: 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__info h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.body__infoText > p {
  font-size: 14px;
}

@media (max-width:960px){
  .body{
    flex-basis:100%;
  }
}