.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  height: 70px;
  padding-left:20%;
}

.header .MuiSvgIcon-root{
  color:#fff;
}

.header .MuiInput-underline:before {
    border-bottom: 1px solid #fff;
}

.header__left {
  display: flex;
  align-items: center;
  min-width: 70px;
}

.header__left > input {
  border: none;
  width: 100%;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right > h4 {
  margin-left: 10px;
}
