.searchBar{
    display:flex;
    align-items:center;
}

.searchBar input{
    background: transparent;
    color: #fff;
    font-size: 13.3px;
    font-weight: bold;
    border: none;
    padding-left: 15px;
}

.searchBar input::placeholder { 
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    font-weight:bold;
    opacity: 1; /* Firefox */
  }
  
  .searchBar input:-ms-input-placeholder { /* Internet 
    Explorer 10-11 */
    color: #fff;
    font-weight:bold;
  }