.header {
  margin-bottom: 30px;
  height: 70px;
  padding-left: 20%;
  z-index: 2;
  padding: 0 20px;
}

.header .MuiSvgIcon-root{
  color:#fff;
}

.header__logo{
  max-width:150px;
  padding: 20px 0;
}

.header .MuiInput-underline:before {
    border-bottom: 1px solid #fff;
}

.header__left {
  display: flex;
  align-items: center;
  min-width: 70px;
}

.header__left > input {
  border: none;
  width: 100%;
}

.header__right {
  display: flex;
  color:#fff;
  align-items: center;
}

.header__right > h4 {
  margin-left: 10px;
}

.header .MuiInputBase-input{
  color:#fff;
}

.header .MuiButton-label{
  color:#fff;
}