.footer{
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
    background: #000;
    padding: 15px 20px 0px 20px;
    color: #fff;
    border-top: 1px solid #fff;
}

.footer__center{
    flex:0.4;
}

.footer__right{
    flex:0.3;
    display:flex;
    justify-content:space-between;
    align-items:center;
    max-width:300px;
}

.footer__album{
    margin-right: 20px;
    object-fit: contain;
    height: 40px;
    border: 2px solid #fff;
    align-self: center;
    width: 40px;
}

.footer .MuiIconButton-root{
    color:#fff;
}

.footer__left{
    flex:0.3;
    display:flex;
    align-items:center;
    color:#fff;
    width:300px;
}

.footer__green{
    color: #1ed15e;
}

.footer__right *.MuiSlider-root{
    color:green;
}

.footer__songInfo > h4{
    margin-bottom: 5px;
}

.footer__songInfo {
    font-size: 12px;
}

.footer__icon:hover,
.footer__green:hover{
    transform: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}