@tailwind base;
@tailwind components;
@tailwind utilities;

/* Track */
::-webkit-scrollbar-track {
    background: #000
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000
  }